.item {
    display: flex;
    align-items: center;
    border: 1px solid rgb(166, 163, 166);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
margin-top: 5px;
padding: 10px;
}

.item:hover{
    transform: scaleX(1.05);
    background-color: rgb(176, 236, 236);
    box-shadow: 4px 2px 7px rgba(0, 0, 0, 0.4);
}

.status{
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}



.avatar{
margin-right: 10px;
}

.name{
font-size: 24px;
font-weight: 600;
}