.transactionHistory{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:270px;
    border: 1px solid black;
   overflow: hidden;
}
.transactionHistory th{
    background-color: rgb(32, 209, 225);
    color: aliceblue;
    text-transform: uppercase;
    font-size: 14px;
    width: 90px;
}

.transactionHistory tr{
text-align: center;
}

.transactionHistory tbody tr:hover{
    transform: scale(1.03);
    background-color: rgb(77, 210, 90);
}


.transactionHistory tr:nth-child(2n){
    background-color: rgb(171, 166, 161);
}

.transactionHistory td:nth-child(1)::first-letter{
    text-transform: uppercase;
}